{% extends 'base.html.twig' %}

{% block title %}Ajout d'un site{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center my-5">Gérer les sites</h3>
        <div class="offset-3 col-6">
            <div class="row">
                <div class="row mb-3">
                    <form class="d-flex" method="post" action="{{ path('app_sites_ajout') }}">
                        <label for="rechercher"><strong>Le nom contient: </strong></label>
                        <input id="rechercher" name="siteRech" class="form-control me-2 rechercher" type="search"
                               placeholder="Le site contient" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Rechercher</button>
                    </form>
                </div>
                <div class="row"></div>
            </div>
            {% for message in app.flashes('succes') %}
                <div class="alert alert-success text-center">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Villes</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for site in nom %}
                    <tr>

                        <th scope="row">{{ site.nom }}</th>
                        <td>
                            <button data-site="{{ site.id }}" class="btn btn-outline-danger">Supprimer</button>
                        </td>

                    </tr>
                    <tr>
                        {% endfor %}
                        {{ form_start(formAdd) }}
                        <th> {{ form_widget(formAdd.nom) }} </th>
                        <th>
                            <button type="submit" class="btn btn-outline-success">Ajouter</button>
                        </th>
                        {{ form_end(formAdd) }}
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('.btn-outline-danger').click(function () {
                let site_id = $(this).attr("data-site");

                if (confirm("Voulez-vous vraiment supprimer ce voeu ?")) {
                    window.location.href = '/site/supprimerSite/' + site_id;
                }
            })
        });
    </script>
{% endblock %}
