{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row offset-3 col-6">
            <h1 class="my-5 titre-page">Enregistrement d'un participant</h1>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.Nom) }}
            {{ form_row(registrationForm.Prenom) }}
            {{ form_row(registrationForm.mail) }}
            {{ form_row(registrationForm.Telephone) }}
            {{ form_row(registrationForm.noSite) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.photo) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <div class="row text-center my-5">
                <button type="submit" class="btn btn-dark text-center">Register</button>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}
