{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}



    <div>
        <div class="container">
            <div class="row mt-5 mb-3">
                <h1 class="offset-5 col-2 titre-page">Accueil</h1>


                <div class="offset-2 col-3">
                    <h4>Date&nbsp;du&nbsp;jour&nbsp;:&nbsp;{{ "now"|date("d/m/Y",'Europe/Paris') }}  </h4>
                    <h4>Participant&nbsp;:&nbsp;{{ app.user.pseudo }}</h4>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Filtrer les sites</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <form class="col-auto">
                        {{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}
                        {{ form_row(form.Site) }}
                        {{ form_row(form.rechercher) }}
                        {# {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }} #}
                    </form>


                    <form class="d-flex">
                        <strong>Entre:</strong>
                        <input id="date" class="form-control me-2 " type="date" placeholder="Date">
                        <strong>Et:</strong>
                        <input id="date" class="form-control me-2 " type="date" placeholder="Date">
                    </form>
                </div>

                <div class="col-6">
                    <form class="col-auto">


                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.sortie1) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.sortie2) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.sortie3) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.sortie4) }}
                            </div>
                        </div>

                        <input type="text" class="table-filter" value="non" hidden="true" data-table4="#Table">

                        <input type="text" class="table-filter" value="Passée" hidden="true" data-table3="#Table">

                        <input type="text" class="table-filter" value="oui" hidden="true" data-table2="#Table">

                        <input type="text" class="table-filter" value="{{ app.user.pseudo }}" hidden="true"
                               data-table="#Table">

                        <button type="submit" id="filtrer" onClick="fonctionFiltrer()"
                                class="btn btn-primary mt-3 w-100">Réinitialiser filtre
                        </button>

                        {{ form_end(form) }}


                    </form>
                </div>
            </div>
            <div class="mt-3">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('erased') %}
                    <div class="alert alert-danger text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>


            <table id="Table" class="table table-striped mt-5">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">inscrits/places</th>
                    <th scope="col">Etats</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    {% set ins = 'non' %}
                    <tr>
                        {% if  sortie.nom|length < 25 %}
                            <td>{{ sortie.nom }}</td>
                        {% else %}
                            <td>{{ sortie.nom |slice(0,25) }}...</td>
                        {% endif %}
                        <td>{{ sortie.dateHeureDebut|date(" d-m-Y H:i ") }}</td>
                        {% if sortie.etat.id != 6 %}
                            <td>{{ sortie.dateFinInscription|date(" d-m-Y ") }} </td>
                            <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}</td>
                        {% else %}
                            <td class=""><strong>Motif
                                    : </strong>{{ sortie.description|length < 30?sortie.description:"Consulter la description" }}
                            </td>
                            <td></td>
                        {% endif %}
                        <td>{{ sortie.etat.libelle }} </td>
                        {% for participant in sortie.participants %}
                            {% if participant.id == app.user.id %}
                                {% set ins = 'oui' %}
                            {% elseif participant.id ==null %}
                                {% set ins = null %}
                            {% endif %}
                        {% endfor %}
                        <td>{{ ins }}</td>
                        <td>
                            <a href="{{ path('app_profilParticipant',{id:sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                        </td>

                        <td><a href="{{ path('app_sortie_afficher',{id:sortie.id}) }}">
                                <button class="btn btn-primary" type="button" name="id">Afficher</button>
                            </a>
                            {% if sortie.etat.id != 6 %}
                                {% if sortie.participants|length < sortie.nbInscriptionMax %}
                                    {% if 'now'|date(" Y-m-d H:i ",'Europe/Paris') < sortie.dateFinInscription|date(" Y-m-d ") and  ins == 'non' and app.user.id != sortie.organisateur.id %}
                                        <a href="{{ path('app_sortie_inscription',{id:sortie.id}) }}">
                                            <button class="btn btn-primary" type="button" name="id">Inscription</button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {% if 'now'|date(" Y-m-d H:i ",'Europe/Paris') < sortie.dateHeureDebut|date(" Y-m-d H:i") and  ins == 'oui' and app.user.id != sortie.organisateur.id %}
                                    <a href="{{ path('app_sortie_desistement',{id:sortie.id}) }}">
                                        <button class="btn btn-primary" type="button" name="id">Se désister</button>
                                    </a>
                                {% endif %}
                                {% if 'now'|date(" Y-m-d H:i ",'Europe/Paris') < sortie.dateHeureDebut|date(" Y-m-d H:i ")  and app.user.id == sortie.organisateur.id %}
                                    <a href="{{ path('app_sortie_annuler',{id:sortie.id}) }}">
                                        <button class="btn btn-primary" type="button" name="id">Annuler</button>
                                    </a>
                                {% endif %}
                                {% if 'now'|date(" Y-m-d H:i ",'Europe/Paris') < sortie.dateFinInscription|date(" Y-m-d ")  and app.user.id == sortie.organisateur.id %}
                                    <a href="{{ path('app_sortie_modifier',{id:sortie.id}) }}">
                                        <button class="btn btn-primary" type="button" name="id">Modifier</button>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
            {{ knp_pagination_render(sorties) }}
            <div class="row py-5">
                <div class="col text-center">
                    <a href="{{ path('app_sortie_ajout') }}">
                        <button class="btn btn-primary">Créer une sortie</button>
                    </a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
{% endblock %}








