{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div >
    <div class="row">
        <div class="col" align="center">
            <h2>Accueil</h2>
            <br>
        </div>
    </div>
     <div class="row">
        <div class="col" align="right">
            <h4>Date du jour : {{ "now"|date("d/m/Y") }}  </h4>
            <h4>Participant: {{app.user.pseudo}}</h4>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Filtrer les sites</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <form class="d-flex">
                <label for="site">Site: </label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Villes</option>
                    <option value="1">Angers</option>
                    <option value="2">Nantes</option>
                    <option value="3">Niort</option>
                </select>               
            </form>

             <form class="d-flex">
                <label for="rechercher">Le nom de la sortie contient: </label>
                <input id="rechercher" class="form-control me-2 rechercher" type="search" placeholder="Rechercher" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>

            <form class="d-flex">
                <strong>Entre:</strong>
                 <input id="date" class="form-control me-2 " type="date" placeholder="Date" >
                <strong>Et:</strong>
                 <input id="date" class="form-control me-2 " type="date" placeholder="Date" >
            </form>
        </div>
        <div class="col-4">

           <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Sortie dont je suis l'organisateur/trice
                </label>
            </div>

            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
            <label class="form-check-label" for="flexCheckChecked">
                    Sortie auxquelles je suis inscrit/e
            </label>
            </div>

             <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" >
            <label class="form-check-label" for="flexCheckChecked2">
                    Sortie auxquelles je ne suis pas inscrit/e
            </label>
            </div>

             <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" >
            <label class="form-check-label" for="flexCheckChecked3">
                    Sortie passées
            </label>
            </div>

        </div>
         <div class="col-4">
          <form class="d-flex">
                <button class="btn btn-outline-success" type="submit">Rechercher</button>
                </form>
        </div>
    </div>


</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">inscrits/places </th>
            <th scope="col">Etats </th>
            <th scope="col">Inscrit </th>
            <th scope="col">Organisateur </th>
            <th scope="col">Actions </th>
        </tr>
    </thead>
    <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td><a href="{{ path('app_main',{id:sortie.id}) }}">{{sortie.nom}}</a></td>
                    <td>{{sortie.dateHeureDebut|date(" d-m-Y H:i ")}}</td>
                    <td>{{sortie.dateFinInscription|date(" d-m-Y H:i ")}} </td>
                    <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}</td>
                    <td>{{sortie.etat.libelle}} </td>
                    <td>x </td>

                    <td><a href="{{ path('app_profilParticipant',{id:sortie.organisateur.id}) }}">{{sortie.organisateur.pseudo}}</a> </td>
                    
                    <td> <button class="btn btn-primary" type="submit" name="id" value="{{sortie.id}}" >Supprimer</button> </td>
                </tr>
            {% endfor %}


        
    </tbody>
</table>

 <div class="row">
        <div class="col" align="center">
            <a href="{{ path('app_sortie') }}"><button class="btn btn-primary">Créer une sortie</button></a>
        </div>
    </div>
{% endblock %}
