{% extends 'base.html.twig' %}
{% block title %}Affichage d'une sortie{% endblock %}

{% block body %}
    <div class="container">
        <H3 class="text-center my-5 titre-page">Afficher une sortie</H3>

        <div class="row ">
            <div class="offset-1 col-5">
                <div class="row my-4">
                <div class="form-group col-6">
                    <label for="nom"><strong>Nom de la sortie :</strong></label>
                </div>
                <div class="col-6">{{ sortie.nom }}</div>
            </div>

                <div class="row my-4">
                <div class="form-group col-6">
                    <label for="nom"><strong>Date et heure de la sortie :</strong></label>
                </div>
                <div class="col-6">{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</div>
            </div>
            <div class="row my-4">
                <div class="form-group col-6">
                    <label for="nom"><strong>Date limite d'inscription :</strong></label>
                </div>
                <div class="col-6">{{ sortie.dateFinInscription|date('d/m/Y ') }}</div>
            </div>
               <div class="row my-4">
                <div class="form-group col-6">
                    <label for="nom"><strong>Nombre de places :</strong></label>
                </div>
                <div class="col-6">{{ sortie.nbInscriptionMax }}</div>
            </div>
               <div class="row my-4">
                <div class="form-group col-6">
                    <label for="nom"><strong>Durée :</strong></label>
                </div>
                <div class="col-6">{{ sortie.duree }}</div>
            </div>

            </div>
            <div class="offset-1 col-5">
                <div class="row my-4">
                <div class="form-group col-6">
                    <label for="nom"><strong>{{ sortie.etat.id != 6?" Description et info":"Motif de l'annulation" }} :</strong></label>
                </div>
                <div class="col-6">{{ sortie.description }}</div>
            </div>
                <div class="row my-4">
                <div class="form-group col-6">
                    <label for="nom"><strong>Ville organisatrice :</strong></label>
                </div>
                <div class="col-6">{{ sortie.siteOrganisateur.nom }}</div>
            </div>
            <div class="row my-4">
                <div class="form-group col-6">
                    <label for="nom"><strong>Lieu :</strong></label>
                </div>
                <div class="col-6">{{ sortie.noLieu.nom }}</div>
            </div>
            <div class="row my-4">
                <div class="form-group col-6">
                    <label for="nom"><strong>Rue :</strong></label>
                </div>
                <div class="col-6">{{ sortie.noLieu.rue }}</div>
            </div>
            <div class="row my-4">
                <div class="form-group col-6">
                    <label for="nom"><strong>Code postal :</strong></label>
                </div>
                <div class="col-6"> {{ sortie.noLieu.noVille.codePostal }}</div>
            </div>
            </div>
        </div>
        <div class="row">

            <div class="offset-3 col-6 listing my-4">

            </div>

        <div class="text-center my-3">
        {% if sortie.etat.id != 6 %}
            <button type="button" data-sortie="{{ sortie.id }}" data-orga="{{ sortie.organisateur.id }}" data-user="{{ app.user.id }}" class="btn btn-primary liste" onClick="this.disabled = true;">Afficher les participants</button>
        {% endif %}
            <a href="{{ path('app_main') }}">
                <button type="button"  class="btn btn-outline-primary">Retour</button>
            </a>
             {% if is_granted('ROLE_ADMIN') %}
   {% if 'now'|date(" Y-m-d H:i ",'Europe/Paris') < sortie.dateHeureDebut|date(" Y-m-d H:i ")  %}
                                    <a href="{{ path('app_sortie_annuler',{id:sortie.id}) }}">
                                        <button class="btn btn-primary" type="button" name="id">Annuler by admin</button>
                                    </a>
                       {% endif %}
                        {% endif %}
        </div>



    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset('/js/sortie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/detect.js') }}"></script>

{% endblock %}