{% extends 'base.html.twig' %}
{% block title %}Affichage d'une sortie{% endblock %}

{% block body %}
    <div class="container">
        <H3 class="text-center my-5">Afficher une sortie</H3>

        <div class="row ">
            <div class="offset-1 col-5">
                <div class="form-group">
                    <p><label for="nom"><strong>Nom de la sortie :</strong> {{ sortie.nom }}</label></p>
                </div>

                <div class="form-group">
                    <p><label for="nom"><strong>Date et heure de la sortie
                                :</strong> {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</label></p>
                </div>
                <div class="form-group">
                    <p><label for="nom"><strong>Date limite d'inscription
                                :</strong> {{ sortie.dateFinInscription|date('d/m/Y H:i') }}</label></p>
                </div>
                <div class="form-group">
                    <p><label for="nom"><strong>Nombre de places :</strong> {{ sortie.nbInscriptionMax }}</label></p>
                </div>
                <div class="form-group">
                    <p><label for="nom"><strong>Durée :</strong> {{ sortie.duree }}</label></p>
                </div>
            </div>
            <div class="offset-1 col-5">
                <div class="form-group">
                    <p><label for="nom"><strong>Description et info :</strong> {{ sortie.description }}</label></p>
                </div>

                <div class="form-group">
                    <p><label for="nom"><strong>Ville organisatrice
                                :</strong> {{ sortie.siteOrganisateur.nom }}</label></p>
                </div>
                <div class="form-group">
                    <p><label for="nom"><strong>Lieu
                                :</strong> {{ sortie.noLieu.nom }}</label></p>
                </div>
                <div class="form-group">
                    <p><label for="nom"><strong>Rue:</strong> {{ sortie.noLieu.rue }}</label></p>
                </div>
                <div class="form-group">
                    <p><label for="nom"><strong>Code postal :</strong> {{ sortie.noLieu.noVille.codePostal }}</label>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="text-center my-4">Liste des participants à la sortie</h3>
            <div class="offset-3 col-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in participants %}
                        {% if sortie.organisateur.id == app.user.id %}
                            <tr>
                                <td>{{ participant.pseudo }}</td>
                                <td>{{ participant.prenom }} {{ participant.nom }}</td>
                                <td><a href="{{ path('app_profilParticipant',{id:participant.id}) }}"><button class="btn btn-dark">Afficher le profil</button></a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ participant.pseudo }}</td>
                                <td>{{ participant.prenom }} {{ participant.nom }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center my-3">
            <a href="{{ path('app_main') }}">
                <button type="button" class="btn btn-outline-primary">Retour</button>
            </a>
        </div>
    </div>
{% endblock %}