{% extends 'base.html.twig' %}
{% block title %}Affichage d'une sortie{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7" align="center">
                <H1>Afficher une sortie</H1>
            </div>

        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <p><label for="nom">Nom de la sortie : {{ sortie.nom }}</label></p>
                </div>

                <div class="form-group">
                    <p><label for="nom">Date et heure de la sortie
                            : {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</label></p>
                </div>
                <div class="form-group">
                    <p><label for="nom">Date limite d'inscription
                            : {{ sortie.dateFinInscription|date('d/m/Y H:i') }}</label></p>
                </div>
                <div class="form-group">
                    <p><label for="nom">Nombre de places : {{ sortie.nbInscriptionMax }}</label></p>
                </div>
                <div class="form-group">
                    <p><label for="nom">Durée : {{ sortie.duree }}</label></p>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <p><label for="nom">Description et info : {{ sortie.description }}</label></p>
                </div>

                <div class="form-group">
                    <p><label for="nom">Ville organisatrice
                            : {{ sortie.siteOrganisateur.nom }}</label></p>
                </div>
                <div class="form-group">
                    <p><label for="nom">Lieu
                            : {{ sortie.noLieu.nom }}</label></p>
                </div>
                <div class="form-group">
                    <p><label for="nom">Rue: {{ sortie.noLieu.rue }}</label></p>
                </div>
                <div class="form-group">
                    <p><label for="nom">Code postal : {{ sortie.noLieu.noVille.codePostal }}</label></p>
                </div>
            </div>
        </div>
        <div class="row">
            <h2>Liste des participants à la sortie</h2>
            <div class="offset-1 col-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in participants %}
                        <tr>
                            <td>{{ participant.pseudo }}</td>
                            <td>{{ participant.prenom }} {{ participant.nom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center">
            <a href="{{ path('app_main') }}">
                <button type="button" class="btn btn-outline-primary">Retour</button>
            </a>
        </div>
    </div>
{% endblock %}