{% extends 'base.html.twig' %}

{% block title %}Ajout d'une sortie{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="my-5">Ajouter une sortie</h3>

        <div class="offset-2 col-8">
            {{ form_start(sortieForm) }}
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateFinInscription) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.nbInscriptionMax) }}
            {{ form_row(sortieForm.description) }}
            {{ form_row(sortieForm.siteOrganisateur) }}
            <label>Ville :</label>
            <select class="form-select">
                {% for ville in villes %}
                    <option>{{ ville.nom }}</option>
                {% endfor %}
            </select>
            {{ form_row(sortieForm.noLieu) }}
            <label for="rue">rue :</label>
            <input class="form-control" type="text" name="rue">

            <label for="codePostal">Code Postal :</label>
            <input class="form-control" type="text" name="codePostal">

            <div class=" row text-center my-5">
                <div class="text-center">
                    {# {{ form_row(sortieForm.enregistrer) }}
                {{ form_row(sortieForm.publier) }} #}
                    <a href="{{ path('app_sortie_ajout') }}">
                        <button name="enr" value="{{ 1 }}" class="btn btn-primary me-4">Enregistrer</button>
                    </a>
                    <a href="{{ path('app_sortie_ajout') }}">
                        <button name="pub" value="{{ 2 }}" class="btn btn-primary me-4">Publier</button>
                    </a>
                    <a href="{{ path('app_main') }}">
                        <button class="btn btn-primary">Annuler</button>
                    </a>
                </div>
            </div>
            {{ form_end(sortieForm) }}

        </div>

    </div>
{% endblock %}
