{% extends 'base.html.twig' %}

{% block title %}Ajout d'une sortie{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="my-5 text-center">Ajouter une sortie</h3>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
        <div class="offset-2 col-8">
            {{ form_start(sortieForm) }}

            {{ form_widget(sortieForm) }}
            <div class=" row text-center my-5">
                <div class="text-center">

                    <a href="{{ path('app_sortie_ajout') }}">
                        <button name="enr" value="{{ 1 }}" class="btn btn-primary me-4">Enregistrer</button>
                    </a>
                    <a href="{{ path('app_sortie_ajout') }}">
                        <button name="pub" value="{{ 2 }}" class="btn btn-primary me-4">Publier</button>
                    </a>
                    <a href="{{ path('app_main') }}">
                        <button class="btn btn-primary">Annuler</button>
                    </a>
                </div>
                <div id="path_ajax" data-href="{{ path('lieu_rechercher_ajax_by_ville') }}"></div>
            </div>
            {{ form_end(sortieForm) }}

        </div>

    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset('/js/listesLiees.js') }}"></script>
{% endblock %}
