{% extends 'base.html.twig' %}

{% block title %}Ajout d'une sortie{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="my-5 text-center titre-page">Ajouter une sortie</h3>
        <div class="offset-2 col-8">
            {{ form_start(sortieForm) }}

            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateFinInscription) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.nbInscriptionMax) }}
            {{ form_row(sortieForm.description) }}
            {{ form_row(sortieForm.ville) }}
            {{ form_label(sortieForm.noLieu) }}
            <div class="row">
                <div class="col-11">
                    {{ form_widget(sortieForm.noLieu) }}
                </div>
                <div class="col-1">

                    <button class="btn btn-dark w-100 pop-up "data-toggle="modal" data-target="#exampleModal">+</button>
                </div>
            </div>

            <div class=" row text-center my-5">
                <div class=" row text-center">
                    <div class="offset-3 col-2">
                        <a href="{{ path('app_sortie_ajout') }}">
                            <button type="submit" name="enr" value="{{ 1 }}" class="btn btn-primary me-4">Enregistrer</button>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="{{ path('app_sortie_ajout') }}">
                            <button type="submit" name="pub" value="{{ 2 }}" class="btn btn-primary me-4">Publier</button>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="{{ path('app_main') }}">
                            <button type="button" class="btn btn-primary">Annuler</button>
                        </a>
                    </div>
                </div>

            </div>

            {{ form_end(sortieForm) }}


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style=" display: block;">
                            <h5 class="modal-title" style="text-align: center;"  id="exampleModalLabel">Ajouter un lieu</h5>
{#
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
#}
                 {#               <span aria-hidden="true">&times;</span>#}
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post">
                                <div class="form-group">
                                    {{ form_start(LieuxType) }}
                                    <label  class="form-label required">Nom du lieu à ajouter :</label>
                                    {{ form_widget(LieuxType.nom) }}
                                    <label  class="form-label required">Nom de la rue :</label>
                                    {{ form_widget(LieuxType.rue) }}
                                    <label  class="form-label required">Latitude :</label>
                                    {{ form_widget(LieuxType.longitude) }}
                                    <label  class="form-label required">Longitude :</label>
                                    {{ form_widget(LieuxType.latitude) }}

                                </div>
                                <div class="form-group mt-3 offset-5 col-3">
                                {{ form_row(LieuxType.ajouter) }}
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                                    {{ form_end(LieuxType) }}
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 {#   <script>

        $(document).ready(function () {
            $('.pop-up').click(function () {
                window.open('/lieux/ajout');
            })
        })
    </script>#}
    <script type="text/javascript" src="{{ asset('/js/listesLiees.js') }}"></script>
{% endblock %}
