{% extends 'base.html.twig' %}

{% block title %}Ajout d'une sortie par un organisateur{% endblock %}

{% block body %}
<h3>Ajouter une sortie</h3>
<div class="container">
    <div class="offset-2 col-8">
        {{ form_start(sortieForm) }}
        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateFinInscription) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.nbInscriptionMax) }}
        {{ form_row(sortieForm.description) }}
        {{ form_row(sortieForm.siteOrganisateur) }}
        <label>Ville :</label>
        <select class="form-select">
            {% for ville in villes %}
                <option>{{ ville.nom }}</option>
            {% endfor %}
        </select>
        {{ form_row(sortieForm.noLieu) }}
        <label for="rue">rue :</label>
        <input class="form-control" type="text" name="rue">

        <label for="codePostal">Code Postal :</label>
        <input class="form-control" type="text" name="codePostal">

        <div class="text-center ">
            <a href="/sortie"><button class="btn btn-success">Enregistrer</button></a>
            <a><button class="btn btn-dark">Publier</button></a>
            <a href="/main"><button class="btn btn-primary">Annuler</button></a>
        </div>
        {{ form_end(sortieForm) }}

    </div>

</div>
{% endblock %}
