{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-7" align="center">
        <H1>Mon profil</H1>
         </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-5">
            <img src="https://www.excel-downloads.com/data/avatars/o/362/362988.jpg?1637756820" alt="Avatar" width="50%" class="antoine">
        </div>
        <div class="col-5 ">
           <p>Bonjour <b> {{ app.user.nom }} {{ app.user.prenom }}</b> vous êtes sur le site de {{site.nom }} </p>

            {{ form_start(formModif) }}

            {{ form(formModif) }}

            {{ form_end(formModif) }}
        </div>


    </div>
</div>
{% endblock %}
