{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7 text-center" >
                <H1 class="my-5 titre-page">Mon profil</H1>
            </div>
            <div class="col-3"></div>
        </div>
        {% for message in app.flashes('erreur') %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('reussie') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-5">
                {% if app.user.photo %}
                    <img src="{{ asset('uploads/'~ app.user.photo) }}" alt="Avatar" width="50%" class="antoine">
                    {% dump app.user.photo %}
                {% else %}
                    <img src="https://www.excel-downloads.com/data/avatars/o/362/362988.jpg?1637756820" alt="Avatar"
                         width="50%" class="antoine">
                {% endif %}
                <br><br>

            </div>

            <div class="col-5 ">
                <p>Bonjour <b> {{ app.user.nom }} {{ app.user.prenom }}</b> vous êtes sur le site
                    de {{ app.user.noSite.nom }} </p>

                {{ form_start(formModif) }}

                {{ form_row(formModif.pseudo) }}
                {{ form_row(formModif.telephone) }}
                {{ form_row(formModif.mail) }}
                {{ form_row(formModif.photo) }}
                {{ form_row(formModif.password) }}
                <div class="row my-5">
                    <div class="offset-3 col-3">
                        {{ form_row(formModif.Valider) }}
                    </div>
                    <div class="col-5">
                        <a href="{{ path('app_mdp') }}"><button type="button" class="btn btn-primary" >Modifier mot
                            de
                            passe
                        </button></a>
                    </div>
                </div>

                {{ form_end(formModif) }}


            </div>


        </div>
    </div>
{% endblock %}
