{% extends 'base.html.twig' %}

{% block title %}Profil participant{% endblock %}

{% block body %}
    <div class="container">

        <H3 class="text-center my-5">{{ organisateur.pseudo }}</H3>

        <div class="row">
            <div class="col-5">
                {% if organisateur.photo != null %}
                    <img src=" {{ asset('uploads/'~ organisateur.photo) }}" alt="Avatar" width="50%" class="antoine">
                {% else %}
                    <img src="https://www.excel-downloads.com/data/avatars/o/362/362988.jpg?1637756820" alt="Avatar"
                         width="50%" class="antoine">
                {% endif %}
            </div>
            <div class="col-5 ">

                <form>

                    <div class="form-group">
                        <p><label for="nom"><strong>Prénom :</strong> {{ organisateur.prenom }}</label></p>
                    </div>

                    <div class="form-group">
                        <p><label for="nom"><strong>Nom :</strong> {{ organisateur.nom }}</label></p>
                    </div>
                    <div class="form-group">
                        <p><label for="nom"><strong>Téléphone :</strong> {{ organisateur.telephone }}</label></p>
                    </div>
                    <div class="form-group">
                        <p><label for="nom"><strong>E-mail :</strong> {{ organisateur.mail }}</label></p>
                    </div>
                    <div class="form-group">
                        <p><label for="nom"><strong>Ville de rattachement :</strong> {{ organisateur.noSite.nom }}</label></p>
                    </div>


                </form>
            </div>

            <div class="text-center my-4">
                <a href="{{ path('app_main') }}">
                    <button type="button" class="btn btn-outline-primary">Retour à l'accueil</button>
                </a>
            </div>


        </div>
    </div>
{% endblock %}




